# local
.vscode
.idea

# log
*.log
*.log.*

# dependencies
node_modules

linaria-temp-map.json
# dist
lib
dist
typings
tsconfig.tsbuildinfo
target
packages/vcenter-provider/build/*

# test
coverage

*.rej

*.code-workspace

packages/server/reports/*
packages/server/tickets/*

.DS_Store

.vercel
.turbo